@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
  min-height: 101%;
}

body {
  font-size: 62.5%;
  @apply font-sans text-sm antialiased font-normal leading-normal xl:text-base;
}

.container {
  @apply mx-auto max-w-screen-3xl;
}

a {
  @apply transition duration-300;
}

[class*="transition"] {
  @apply duration-300;
}

@font-face {
  font-family: 'Vollkorn';
  src: url('../fonts/Vollkorn-Regular.ttf') format('truetype');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Vollkorn';
  src: url('../fonts/Vollkorn-Italic.ttf') format('truetype');
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Yaldevi';
  src: url('../fonts/Yaldevi-Regular.ttf') format('truetype');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Yaldevi';
  src: url('../fonts/Yaldevi-SemiBold.ttf') format('truetype');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

/* --------------------------
Headings
-------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply p-0 mb-6 font-bold leading-tight;
}

h1 {
  @apply text-xl;
}

h2 {
  @apply text-lg;
}

/* --------------------------
Content
-------------------------- */

.content p {
  @apply mb-6;
}