@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
  min-height: 101%;
}

body {
  font-size: 62.5%;
  @apply font-sans text-sm antialiased font-normal leading-normal bg-white xl:text-base;
}

.container {
  @apply mx-auto max-w-screen-3xl;
}

a:not[.btn] {
  @apply transition duration-700;
}

[class*="transition"] {
  @apply duration-300;
}

/* Sans */
@font-face {
  font-family: "Yaldevi";
  src: url("../fonts/Yaldevi-Regular.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Yaldevi";
  src: url("../fonts/Yaldevi-SemiBold.ttf") format("truetype");
  font-display: swap;
  font-weight: 600;
  font-style: semi-bold;
}

/* Serif */
@font-face {
  font-family: "Vollkorn";
  src: url("../fonts/Vollkorn-Regular.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Vollkorn";
  src: url("../fonts/Vollkorn-Italic.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}

/* --------------------------
Headings
-------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply p-0 mb-6 leading-tight;
}

h1 {
  @apply font-semibold;
}

h2 {
  @apply font-serif text-2xl font-normal lowercase md:text-4xl xl:text-6xl ;
}

h2 span {
  @apply text-grenadier-500;
}

.content_block.bg-grenadier-500 h2 span {
  @apply text-grenadier-200;
}

/* --------------------------
Buttons
-------------------------- */

.btn {
  @apply relative z-10 px-5 py-2 text-xs tracking-wider uppercase transition-all duration-700 rounded-lg lg:text-sm;
}

.btn--white-outline {
  @apply text-white border-2 border-white;
}

.btn--white-outline:hover {
  @apply bg-white shadow-xl text-grenadier-500;
}


/* --------------------------
Content
-------------------------- */


.content p {
  @apply mb-6 lg:text-lg;
}

.with-after-line {
  @apply relative inline-block pr-32 font-serif text-lg italic leading-none lowercase lg:pr-48 md:text-xl lg:text-3xl;
}

/* --------------------------
With After Line (title)
-------------------------- */

.with-after-line:after {
  content: '';
  @apply absolute bottom-0 right-0 h-px mb-2 bg-grenadier-200 w-28 lg:w-40;
}

/* --------------------------
With After Line (title)
-------------------------- */

.hero__content {
}

.hero__content ul {
  @apply flex flex-row flex-wrap gap-4 mt-4;
}

.hero__content li {
  @apply relative pl-8 leading-tight;
}

.hero__content ul li:before {
  content: '';
  @apply absolute left-0 w-4 h-4 transform -translate-y-1/2 bg-white rounded-full top-1/2;
}



